action==1.4.4
allure-behave==2.8.40
allure-pytest==2.8.40
allure-python-commons==2.8.40
appdirs==1.4.4
Appium-Python-Client==1.1.0
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
behave==1.2.6
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
distlib==0.3.1
Django==3.1.7
djangorestframework==3.12.4
driver==0.1.0
filelock==3.0.12
gevent==21.1.2
greenlet==1.0.0
hs-test-python==4.0.0
idna==3.1
ignore==0.1.4
iniconfig==1.1.1
more-itertools==8.7.0
mysqlclient==2.0.3
numpy==1.20.2
packaging==20.9
parse==1.19.0
parse-type==0.5.2
Pillow==8.1.2
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pyresttest==1.5.0
pyTelegramBotAPI==3.7.6
pytest==6.2.2
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
style==1.1.6
swampy==3.0.1
telebot==0.0.4
toml==0.10.2
update==0.0.1
urllib3==1.26.4
virtualenv==20.4.3
wcwidth==0.2.5
webdriver-manager==3.3.0
zope.event==4.5.0
zope.interface==5.3.0
